.product-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.4rem;
    width: 40%;
    position: relative;
}


.product-img{
    width: 14rem;
    height: 6rem;
    
}

.product-img img{
    width: 100%;
    height: 100%;
}

.save{
    position: absolute;
    background-color: rgb(47, 20, 255);
    color: white;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    left: 0.8rem;
    padding: 0.2rem 0.4rem;
    top: 0.5rem;
    
}

.product-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.quan-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media (min-width : 1400px){
    .product-container{
        flex-direction: column;
        align-items: center;
        width: 15%;
    }

    .product-img{
        max-width: 10rem;
        height: 7rem;
    }
    
}


@media (max-width : 968px){
    .product-container{
        flex-direction: column;
        align-items: center;
    }

    .product-img{
        width: 4rem;
        height: 4rem;
    }
    
}