*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0% ;
  font-family: 'Roboto', sans-serif;
}



.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

}

.section-steps{
  background-color: rgb(197, 249, 255);
  /* padding:1rem; */
  border-radius: 0.4rem;
  width: 70%;
  /* height: 80vh; */
}

@media(min-width:1410px){
  .section-steps{
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .App {
    flex-direction: row;
    
  }
}