*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0% ;
  font-family: 'Roboto', sans-serif;
}



.App{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  min-height: calc(100vh - 2rem);
  gap: 1rem;
}

.section-steps,
.section-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-steps{
  
  border-radius: 0.2rem;
}



@media(min-width:1410px){
  .App {
      flex-direction: column;
      align-items: stretch;
    }

  .section-steps{
    width: auto;
  }
}

@media (min-width: 1024px) {
  .App {
    flex-direction: row;
    align-items: stretch;
  }

  .section-steps {
    flex: 0.65;
  }

  .section-review {
    flex: 0.35;
  }
}

@media (max-width: 1023px) {
  .App {
    flex-direction: column;
  }

  .section-review {
    width: 70%;
  }

}