*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0% ;
  font-family: 'Roboto', sans-serif;
}



.App{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

}

.section-steps{
  background-color: rgb(197, 249, 255);
  padding:1rem;
  border-radius: 0.4rem;
  width: 50%;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}